﻿@model IEnumerable<BlogSitesi.Models.Category>

@{
    Layout = null;
}
<h5 class="card-header">Categories</h5>
<div class="card-body">
    <div class="row">
        <div class="col-lg-6">
            @foreach (var item in Model)
            {
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#">@item.Name</a>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>