﻿@model BlogSitesi.Models.Article

@{
    ViewBag.Title = "DetailedArticle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dd style = "font-size : xx-large ">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.User.Nickname)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.ArticleContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
