﻿@model IEnumerable<BlogSitesi.Models.Article>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <!-- Blog Post -->
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">
                <a href="/Home/DetailedArticle/@item.ArticleID"> @item.Title</a>
            </h2>
            <p>
                @if(item.ArticleContent.Length>100)
                {
                    <p>@Html.Raw(item.ArticleContent.Substring(0, 100))...</p>
                }
                else
                {
                    <p>@Html.Raw(item.ArticleContent)</p>
                }
            </p>
            <p><span class="glyphicon glyphicon-time" ></span>@item.Date</p>
            <a class="btn btn-primary" href="/Home/DetailedArticle/@item.ArticleID">Read More &rarr;</a>
        </div>        
    </div>
}